form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  section {
    display: flex;
    gap: 1rem;
    mat-form-field {
      width: 100%;
    }
    @media (max-width: 801px) {
      flex-direction: column;
      gap: 0;
    }
  }
  
  h3 {
    margin-block: 0 1rem;
  }
  
  button {
    width: fit-content;
  }
  