@if (issue$ | async; as issue) {
<div class="header">
  <div class="header__image">
    <img
      src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
  </div>
  <div class="header__details">
    <h2>{{ issue.details.title }}</h2>
    <p>{{ issue.details.date | date }}</p>
  </div>
</div>

<mat-tab-group>
  <mat-tab label="Cercetări">
    <button class="add-btn" mat-stroked-button (click)="onAddSection(issue)">
      <mat-icon>add</mat-icon>Adaugă Secțiune
    </button>

    <div class="wrapper">
      @for (section of issue.sections; track section._id) {
      <researches-section 
        [section]="section" 
        [allSectionIds]="issue.allSectionIds"
        (researchDropped)="onResearchDropped($event)"
        (deleteSection)="onDeleteSection($index, issue.sections)"  />
      }
    </div>
  </mat-tab>
  
  <mat-tab label="Setări">
    <edit-issue [issue]="issue.details" />
  </mat-tab>
</mat-tab-group>
}