<a class="annal" [href]="annal().link" [routerLink]="annal().link">
    <img class="annal__bg-image" [src]="annal().image" />
    <div class="annal__content">
      <h3 class="annal__title">{{ annal().title }}</h3>
      <p class="annal__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem optio,
        maiores atque natus minima eum doloremque voluptas, quia laudantium,
        maxime tempore unde? Iusto excepturi tenetur perspiciatis quis illum,
        minus neque?
      </p>
    </div>
  </a>
  