@use "../public/styles/app";
@use '@angular/material' as mat;

$frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($frontend-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-backdrop {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.8); 
}